@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

:root {
    --main-white: #ffffff;
    --main-blue: #324ff0;
    --main-red: #ff0025;
    --gradient-blue: #233391;

    --font-russo: 'Russo One', sans-serif;
    --font-kalam: 'Kalam', cursive;
}

body{
    font-family: var(--font-kalam);
    margin: 0;
    padding: 0;
}

/* header */
header{
    margin: 20px 0;
}

header h1{
    margin: 0;
}

header h1 a{
    color: var(--main-red);
    display: block;
    font-family: var(--font-russo);
    font-size: 60px;
    letter-spacing: 2px;
    line-height: 70px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 2px var(--main-blue);
    text-transform: uppercase;
}

header .cups_counter{
    color: var(--main-blue);
    font-family: var(--font-russo);
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
}

header .cups_counter .count{
    font-style: italic;
    font-weight: 700;
    letter-spacing: 3px;
    text-shadow: -1px -1px 0 var(--main-red),
     1px -1px 0 var(--main-red),
    -1px 1px 0 var(--main-red),
    1px 1px 0 var(--main-red);
}

/* BREADCRUMBS */
.breadcrumbs{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.breadcrumbs li{
    font-size: 18px;
    line-height: 50px;
}

.breadcrumbs li a{
    color: var(--main-white);
    text-decoration: none;
    transition: 0.5s;
}

.breadcrumbs li a:hover{
    text-shadow: 2px 2px 2px var(--main-red);
}

/* NAVIGATION */
nav {
    border-bottom: 2px solid var(--main-red);
    border-top: 2px solid var(--main-red);
}

nav .nav_container{
    display: flex;
    margin: 0px auto;
    width: 800px;
}

.nav_container a{
    background-size: 200% 200%;
    color: var(--main-blue);
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: calc(100% / 4);

    -webkit-transition: background-position 300ms, color 300ms ease;
    -moz-transition: background-position 300ms, color 300ms ease;
    -ms-transition: background-position 300ms, color 300ms ease;
    -o-transition: background-position 300ms, color 300ms ease;
    transition: background-position 300ms, color 300ms ease;
}

.nav_container a.active{
    background: var(--main-blue);
    color: var(--main-white)
}

.nav_container a:hover{
    background-image: linear-gradient(to top, var(--main-blue) 51%, transparent 50%);
    background-position: 0 100%;
    color: var(--main-white);

    -webkit-transition: background-position 300ms, color 300ms ease;
    -moz-transition: background-position 300ms, color 300ms ease;
    -ms-transition: background-position 300ms, color 300ms ease;
    -o-transition: background-position 300ms, color 300ms ease;
    transition: background-position 300ms, color 300ms ease;
}

/* footer */
footer{
    background: var(--main-red);
    color: var(--main-white);
    font-family: var(--font-russo);
    font-size: 20px;
    line-height: 75px;
    text-align: center;
}

/* MAIN */
main{
    background: linear-gradient(180deg, var(--main-blue) 10%, var(--gradient-blue) 95%);
    color: var(--main-white);
    min-height: 50vh;
}

main .container{
    margin: 0px auto;
    width: 800px;
}

.site_title{
    border-bottom: 2px solid var(--main-white);
    color: var(--main-white);
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 20px;
    padding: 0 0 10px;
}

.section_description{
    font-size: 20px;
    line-height: 30px;
}

.main_page_content{
    font-size: 20px;
    line-height: 30px;
    padding: 30px 20px;
}

.main_page_content p, .section_description p{
    margin:10px 0;
}

.main_page_content .mail_to, .section_description .mail_to{
    color: var(--main-white);
    display: block;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
}

.main_page_content .mail_to:hover, .section_description .mail_to:hover{
    color: var(--main-red);
}

.tiles_container{
    display: grid;
    grid-gap: 50px 0px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 30px 0 50px;
}

.tiles_container .item{
    border:5px solid var(--main-white);
    border-radius: 20px;
    max-height: 250px;
    position: relative;
}

.tiles_container .item .title{
    align-items: center;
    background: var(--main-red);
    border-radius: 15px;
    bottom: 0;
    color: var(--main-white);
    font-size: 36px;
    height: 0;
    justify-content: center;
    line-height: 40px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 100%;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.tiles_container .item:hover .title{
    display:flex;
    height: 100%;
}

.tiles_container .item img{
    border-radius: 15px;
}

.item_list{
    display: grid;
    grid-gap: 30px 0;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 30px 0;
}

.item_list{
    text-decoration: none;
}

.item_list .item a{
    text-decoration: none;
}

.item_list .item:hover .img{
    border: 3px solid var(--main-red);
}

.item_list .item:hover .title{
    color: var(--main-red);
    text-shadow: 1px 1px 1px #000000;
}

.item_list .item .img{
    border: 3px solid var(--main-white);
    display: block;
    max-width: 225px;
    transition: all .5s;
}

.item_list .item .title{
    color: var(--main-white);
    font-size: 20px;
    line-height: 25px;
    margin: 10px 0 0;
    max-width: 225px;
    text-align: center;
    transition: all .5s;
}

.cup_info, .glass_info{
    font-size:20px;
    font-weight: 300;
    line-height: 30px;
    margin: 0;
}

.cup_info span, .glass_info span{
    font-weight: 700;
}

.cup_images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 30px 0 50px;
}

.cup_images .img{
    border: 3px solid var(--main-white);
    display:block;
    transition: all .5s;
    width: 244px;
}

.cup_images .img:hover, .glass_images .img:hover{
    border: 5px solid var(--main-red);
    cursor: pointer;
}

.glass_images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 30px 0 50px;
}

.glass_images .img{
    border: 3px solid var(--main-white);
    display:block;
    transition: all .5s;
    width: 294px;
}

.looking_container{
    display: grid;
    grid-gap: 40px 0;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 30px 0;
}

.looking_container .item{
    min-height: 150px;
    overflow: hidden;
    width: 225px;
}

.looking_container .item img{
    transition: all .5s;
    width: 100%;
}

.looking_container .item:hover img{
    cursor: pointer;
    transform: scaleX(1.1);
}

.looking_container .item .title{
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    transition: all .5s;
}

.looking_container .item:hover .title{
    color: var(--main-red);
    cursor: pointer;
    text-shadow: 1px 1px 1px #000000;
}

/* PAGINATION */
.pagination {
    display: flex;
    justify-content: center;
    padding: 0 0 50px;
}

.pagination .pagination_link{
    background: var(--main-white);
    border: 2px solid var(--main-red);
    color: var(--main-red);
    display: block;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    margin: 0 10px;
    text-align: center;
    text-decoration: none;
    transition: all .5s;
    width: 40px
}

.pagination .pagination_link:hover{
    font-weight: 700;
}

.modal .modal_layer{
    background: #000000;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: visibility 0s, opacity 0.3s linear;
    visibility: hidden;
    width: 100%;
}

.modal .modal_container{
    background: var(--main-white);
    border: 5px solid var(--main-red);
    height: 530px;
    left: 50%;
    opacity: 0;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: visibility 0s, opacity 0.3s linear;
    visibility: hidden;
    width: 730px;
}

.modal .modal_content{
    position: relative;
}

.modal .modal_content .modal_close{
    background: #000000 url('/images/close.png') no-repeat 5px 5px;
    height: 40px;
    position: absolute;
    right: -5px;
    top: -45px;
    width: 40px;
}

.modal .modal_content .modal_close:hover{
    cursor: pointer;
}

.modal .modal_prev, .modal .modal_next{
    height: 38px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s linear;
    width: 30px;
}

.modal .modal_prev{
    background: transparent url('/images/prev.png') no-repeat;
    left: 20px;
}

.modal .modal_next{
    background: transparent url('/images/next.png') no-repeat;
    right: 20px;
}

.modal .modal_prev:hover{
    background: transparent url('/images/prev_color.png') no-repeat;
    cursor: pointer;
}

.modal .modal_next:hover{
    background: transparent url('/images/next_color.png') no-repeat;
    cursor: pointer;
}

.modal .modal_info{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 30px 0 0;
}

.modal .modal_info img{
    display: block;
    max-width: 600px;
}

.modal .modal_info h5{
    color: var(--main-red);
    font-size: 24px;
    line-height: 50px;
    margin: 0;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
}

.error_header{
    font-size: 30px;
    line-height: 50px;
    margin: 0;
    padding: 30px 0;
    text-align: center;
}

.error_img{
    display:block;
    margin: 0 auto;
    padding: 0 0 50px;
}

/* COOKIES */
body .cookieConsent{
    background: var(--main-red) !important;
}

body .cookieConsent button{
    background: var(--main-white) !important;
    font-weight: 700;
    padding: 5px 15px;
}